
<h2>You are logged in as <%=@user.username%></h2>


<li><a href="/players/new">Add New Player to User <%=@user.username%>'s team</li><br>
<li><a href="/players">List players for User <%=@user.username%>'s team</li><br>
