<!--form for entering information for logging in -->
<h3>Login</h3>
<!--tell the form to submit to the POST /login route -->
<form action="/login" method="POST">
<!--get username and password -->
<input type="text" name="user[username]" placeholder="Username:">
<input type="password" name="user[password]" placeholder="Password:">
<input type="submit" value="submit">
</form>
