<!--form for adding new player to owner/user's team -->
<!-- check if user is logged in -->
<% if Helpers.is_logged_in?(session) %>
 Add New Player to Team
<%= @error %>
<!--get firstname, lastname, and position-->
  <form action='/players' method="post">
    First Name:
      <input type="text" name="firstname"><br>
    Last Name:
    <input type="text" name="lastname"><br>
    Position:
    <input type="text" name="position"><br>

    <input type="submit" name="submit" id="submit">

    <!-- <input type="submit" name="submit"> -->

  </form>

  <% else %>
  <!--if user is not logged in, give error message -->
      <h1> You Must Be Logged in to Add Players </h1>
  <% end %>
