<!--page for doing user logging in and sign up -->
<h1>Welcome to the NBA Player Tracking System</h1>



<div class="content">
    <li><a href="/signup">Owner/User Sign Up</a></li><br>
    <li><a href="/login">Owner/User Login</a></li><br>
    <li><a href="/logout">Owner/User Logout</a><li>
    <!-- <form action="/logout" method="get">
      <input type="submit" name="logout" value="Logout">
    </form> -->
    <!-- <h3><a href="/">Home</a></h3> -->
</div>
